{{ template "base" . }}

{{ define "title" }} RPS Web - About {{ end }}

{{ define "content" }}

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Martin Carranza</h2>
                <p>Hola</p>
                <p>Como</p>
                <p>Están</p>
                <p>Todos</p>
            </div>

            <ul class="py-3">
                <li>Facebook</li>
                <li>Instagram</li>
                <li>Youtube</li>
            </ul>
        </div>
    </div>
</section>

{{ end }}