{{ define "base" }}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width=device-width">
        <title>{{ template "title" . }}</title>
        <script type="text/javascript" id="ca_eum_ba" src="https://dxc.dxi-na1.saas.broadcom.com/api/1/urn:ca:tenantId:4BF1A669-0A37-4FB2-9829-19A576E57FB7/urn:ca:appId:Capacitacion/bajs?agent=browser" data-profileUrl="https://dxc.dxi-na1.saas.broadcom.com/api/1/urn:ca:tenantId:4BF1A669-0A37-4FB2-9829-19A576E57FB7/urn:ca:appId:Capacitacion/profile?agent=browser" data-tenantID="4BF1A669-0A37-4FB2-9829-19A576E57FB7" data-appID="Capacitacion" data-appVersion="1.0" data-use-axa-appname="true" data-appKey="acc5fb00-218f-11ee-8b2f-d7f21af89936" async ></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="static/css/styles.css" >
    </head>
    <body>
        <header>
            <div class="container">
                <div class="row">
                    <div class="d-flex justify-content-between aling-items-center">
                        <div class="logo">
                            <a href="/">RPS</a>
                        </div>
                        <nav>
                            <a href="/new">Nuevo</a>
                            <a href="/about">About</a>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
        {{ template "content" . }}
        <footer class="bg-light text-center py-4">
            <p class="mb-0">Creado por Curso &copy: 2023</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>
{{ end }}